<header [class.header_change]="header_variable">
    <nav class="container fixed-top" >
      <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4">
        <div class="d-flex align-items-center col-md-3  mb-2 mb-md-0 text-dark">
          <a href="/" class=" text-decoration-none">
            <img src="../../../assets/img/logo.png" alt="LeguiCar" class="" width="150" >
          </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2">Home</a></li>
          <li><a href="#" class="nav-link px-2">Products</a></li>
          <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>
        <div class="col-md-3 text-end gestion">
          <button type="button" class="btn " routerLink="/login"><i class="fa-solid fa-user"></i>Login</button>
          <button type="button" class="btn " routerLink="/registro"><i class="fa-solid fa-square-phone-flip"></i>Contactenos</button>
          <button type="button" class="btn " routerLink="/registro"><i class="fa-solid fa-circle-question"></i>ayuda</button>
        </div>
      </div>
    </nav>
</header>