.container-section-search{
    height: 250px;
    background-color: #94c120;
    padding: 21px 0;
}
.search{
    width: 1062px;
    height: 209px;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
}